:root  > * {
  
  --md-primary-fg-color:#5f5f5f;
  --md-accent-fg-color: #F52200;
  --md-typeset-a-color: #F55500;
}

p {
  text-align: justify;
  hyphens: auto;
}

.fsr-button {
  text-align: center !important;
  background-color: var(--md-typeset-a-color) !important;
  border-radius: 5px !important;
  border-color: var(--md-typeset-a-color) !important;
}

.fsr-button:hover {
  background-color: var(--md-accent-fg-color) !important;
  border-color: var(--md-accent-fg-color) !important;
}
