:root  > * {
  
  --md-primary-fg-color:#3f3f3f;
  --md-accent-fg-color: #F52200;
  --md-typeset-a-color: #F55500;
}

p {
  text-align: justify;
  hyphens: auto;
}

.fsr-button {
  text-align: center !important;
  background-color: var(--md-typeset-a-color) !important;
  border-radius: 5px !important;
  border-color: var(--md-typeset-a-color) !important;
  user-select: none !important;
}

.fsr-button:hover {
  background-color: var(--md-accent-fg-color) !important;
  border-color: var(--md-accent-fg-color) !important;
}

.photo-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}

@media (max-width: 700px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.photo-grid ul li p {
  text-align: left !important;
  hyphens: none !important;
}
